body{
  font-family: sans-serif;
  background-color: #d4ddff;
}
header{
    text-align: center;
}
nav{
    text-align: center;
}
h1{
  font-size:28px;
}
  
h2{
  font-size:24px;
}
main{
        text-align: center;
        background-color:#98FB98 ;
}
p{
            text-align:left;
  font-size:18px;
}
img{
width:700px;
        }
footer{
    background-color:#bafffa;
    margin:-16px;
    text-align:center;
}
ul{
    text-align:left;
}
footer p{
    text-align:center;
    background-color:green;
    padding:20px;
}
footer a{
    height: 40px;
    width: 45px;
}
main p{
    text-align:center;
  font-size:18px;
}
.icon{
    padding:20px 10px;
    width:50px;
    height:50px;
  padding-top:10px;
}
